{% extends 'base.html' %}
{% block card_header %}
<span><a href="/index"> 图书管理 / </a></span><span>图书入库</span>
{% endblock %}

{% block card_body %}
                        <div class="layui-row">
                        <div class="layui-row layui-col-md5">
                            <form class="layui-form" method="post">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">ISBN：</label>

                                    <div class="layui-input-inline">
                                         <input type="text" name="isbn" class="layui-input" placeholder="" autocomplete="on">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">书名：</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="book_title" class="layui-input" placeholder="" autocomplete="on">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">出版社：</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="publisher" class="layui-input" placeholder="" autocomplete="on">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">作者：</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="author" class="layui-input" placeholder="" autocomplete="on">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">馆藏数量：</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="total_quantity" class="layui-input" placeholder="" autocomplete="on">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">可借数量：</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="available_quantity" class="layui-input" placeholder="" autocomplete="on">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">是否可借：</label>
                                    <div class="layui-input-inline">
                                        <select name="is_borrowable">
                                            <option value="1">可借</option>
                                            <option value="0">不可借</option>
                                        </select>
                                    </div>

                                </div>
                                <div class="layui-input-inline login-btn" style="margin-left: 150px">
                                    <button class="layui-btn" id="addsubmit">提交</button>
                                </div>
                            </form>
                        </div>
                    </div>
{% endblock %}
{% block script %}
<script src="../static/layui/layui.js"></script>
<script>
layui.use('form', function(){
    var form = layui.form;
    form.render();
});
</script>
{% endblock %}
