{% extends 'userbase.html' %}

{% block card_header %}
<span>还书成功！请注意下面即将过期的还书名单和已经过期的还书名单</span>
{% endblock %}


{% block card_body %}
<table class="layui-table" id="layer">
    <thead>
        <tr>
            <th>ISBN</th>
            <th>书名</th>
            <th>借出日期</th>
            <th>借阅期限</th>
            <th>罚金</th>
        </tr>
    </thead>
    <tbody id="layerbody">
                {% for book in books %}
                <tr>
                    <td>{{ book['ISBN'] }}</td>
                    <td>{{ book['book_title'] }}</td>
                    <td>{{ book['borrow_date'] }}</td>
                    <td>{{ book['due_date'] }}</td>
                    <td>{{ book['fine'] }}</td>
                </tr>
                {% endfor %}
    </tbody>
</table>
<div id="pagination-controls">
<button id="previousPage">上一页</button>
<span>当前页: <span id="currentPage">1</span></span>
<button id="nextPage">下一页</button>
</div>
{% endblock %}


{% block script %}
<script type="text/javascript">
    $(document).ready(function() {
        var table = $('#layer').DataTable({
            "pageLength": 10,
            "pagingType": "simple_numbers",
            "drawCallback": function(settings) {
                var pageInfo = table.page.info();
                $('#currentPage').text(pageInfo.page + 1);
            }
        });

        $('#previousPage').on('click', function() {
            table.page('previous').draw('page');
        });

        $('#nextPage').on('click', function() {
            table.page('next').draw('page');
        });
    });
</script>
{% endblock %}




