{% extends 'userbase.html' %}

{% block card_header %}
    <span><a href="/index"> 图书逾期情况  </a></span><span></span>
{% endblock %}

{% block card_body %}
<h2>逾期未归还书籍</h2>
<table class="layui-table" id="layer">
    <thead>
        <tr>
            <th>借阅号</th>

            <th>ISBN</th>
            <th>借出日期</th>
            <th>借阅期限</th>
            <th>逾期天数</th>
            <th>罚款</th>
        </tr>
    </thead>
    <tbody id="layerbody">
        {% for book in overdue_books_data %}
        <tr>
            <td>{{ book.borrow_id }}</td>

            <td>{{ book.ISBN }}</td>
            <td>{{ book.borrow_date }}</td>
            <td>{{ book.due_date }}</td>
            <td>{{ book.overdue_days }}</td>
            <td>{{ book.fine }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div id="pagination-controls">
    <button id="previousPage">上一页</button>
    <span>当前页: <span id="currentPage">1</span></span>
    <button id="nextPage">下一页</button>
</div>
{% endblock %}

{% block script %}
<script src="https://cdn.staticfile.org/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/layui/2.5.6/layui.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        var table = $('#layer').DataTable({
            "pageLength": 10,
            "pagingType": "simple_numbers",
            "drawCallback": function(settings) {
                var pageInfo = table.page.info();
                $('#currentPage').text(pageInfo.page + 1);
            }
        });

        $('#previousPage').on('click', function() {
            table.page('previous').draw('page');
        });

        $('#nextPage').on('click', function() {
            table.page('next').draw('page');
        });
    });
</script>
{% endblock %}
