{% extends 'base.html' %}

{% block card_header %}
<span><a href="/index"> 读者管理 / </a></span><span>读者信息</span>
{% endblock %}


{% block card_body %}

<table class="layui-table" id="layer">
                        <thead>
                            <tr>
                                <th>借书证号</th>
                                <th>姓名</th>
                                <th>性别</th>
                                <th>职称</th>
                                <th>可借数量</th>
                                <th>已借数量</th>
                                <th>工作部门</th>
                                <th>联系电话</th>
                            </tr>
                        </thead>
                        <tbody id="layerbody">
                                    {% for reader in readers %}
                                    <tr>
                                        <td>{{ reader['library_card_number'] }}</td>
                                        <td>{{ reader['name'] }}</td>
                                        <td>{{ reader['gender'] }}</td>
                                        <td>{{ reader['title'] }}</td>
                                        <td>{{ reader['available_quantity'] }}</td>
                                        <td>{{ reader['borrowed_quantity'] }}</td>
                                        <td>{{ reader['department'] }}</td>
                                        <td>{{ reader['contact_number'] }}</td>
                                    </tr>
                                    {% endfor %}
                        </tbody>
                    </table>
    <div id="pagination-controls">
        <button id="previousPage">上一页</button>
        <span>当前页: <span id="currentPage">1</span></span>
        <button id="nextPage">下一页</button>
    </div>

{% endblock %}


{% block script %}
<script type="text/javascript">
    $(document).ready(function() {
        var table = $('#layer').DataTable({
            "pageLength": 10,
            "pagingType": "simple_numbers",
            "drawCallback": function(settings) {
                var pageInfo = table.page.info();
                $('#currentPage').text(pageInfo.page + 1);
            }
        });

        $('#previousPage').on('click', function() {
            table.page('previous').draw('page');
        });

        $('#nextPage').on('click', function() {
            table.page('next').draw('page');
        });
    });
</script>
{% endblock %}




