{% extends 'base.html' %}

{% block card_header %}
    <span><a href="/index"> 读者管理 / </a></span><span>查询欠费情况</span>
{% endblock %}


{% block card_body %}

<table class="layui-table" id="layer">
                        <thead>
                            <tr>
                                <th>借书证号</th>
                                <th>姓名</th>
                                <th>当前剩余罚款</th>
                                <th>联系电话</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="layerbody">
                                    {% for fine in fines %}
                                    <tr>
                                        <td>{{ fine['library_card_number'] }}</td>
                                        <td>{{ fine['name'] }}</td>
                                        <td>{{ fine['total_fine'] }}</td>
                                        <td>{{ fine['contact_number'] }}</td>
                                                <td>
                               <form action="/reader_detail_fines" method="GET">
                    <input type="hidden" name="library_card_number" value="{{ fine['library_card_number'] }}">
                    <button style="background-color: #134556; color: white; padding: 10px 20px; border-radius: 5px;" type="submit">详情</button>
                </form>
            </td>
                                    </tr>
                                    {% endfor %}
                        </tbody>
                    </table>
        <div id="pagination-controls">
        <button id="previousPage">上一页</button>
        <span>当前页: <span id="currentPage">1</span></span>
        <button id="nextPage">下一页</button>
    </div>
{% endblock %}
{% block script %}
<script type="text/javascript">
    $(document).ready(function() {
        var table = $('#layer').DataTable({
            "pageLength": 10,
            "pagingType": "simple_numbers",
            "drawCallback": function(settings) {
                var pageInfo = table.page.info();
                $('#currentPage').text(pageInfo.page + 1);
            }
        });

        $('#previousPage').on('click', function() {
            table.page('previous').draw('page');
        });

        $('#nextPage').on('click', function() {
            table.page('next').draw('page');
        });
    });
</script>
{% endblock %}


